<!--The content below is only a placeholder and can be replaced.-->
<div class='container'>
    <header>
        <b><fa name='automobile' ></fa>{{ title }}</b>
        <!--<fa class='pull-right' name='sign-out' title='Logout'></fa>-->
        <a class="pull-right logout" href="#">
        <i class="fa fa-sign-out" >Logout</i>
</a>
    </header>
    <mat-tab-group class="demo-tab-group">
        <mat-tab label="Purchase">
            <paras-purchase></paras-purchase>
        </mat-tab>
        <mat-tab label="Sales">
            <paras-sales></paras-sales>
        </mat-tab>
        <mat-tab label="Stock">
            <paras-stock></paras-stock>
        </mat-tab>
    </mat-tab-group>
</div>